* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
dd,
figure,
pre,
hr {
  margin: 0;
}

/* Remove default padding */
button,
th,
tr,
td {
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
ol {
  all: unset;
  list-style: none;
}

sup,
sub {
  font-size: unset;
}

abbr[title] {
  text-decoration: underline dotted;
  -webkit-text-decoration: underline dotted; /* Safari and iOS */
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  outline: 0;
  border-spacing: 0;
}

th {
  font-weight: unset;
}

input,
textarea,
button,
select {
  display: block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: unset;
  border: unset;
  background: transparent;
  color: unset;
  border-radius: 0;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  font-weight: unset; /* iOS */
  color: inherit; /* iOS */
}

img {
  display: block; /* Remove 3px gap in the bottom of images */
}
